<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-lg-start">
                Copyright &copy; Estudio Errasti y Asoc. 2022 | Tel: 0223-451-9823
            </div>
            <!-- <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div> -->
            <div class="col-lg-6 text-lg-end">
                <a class="link-dark text-decoration-none me-3 color-link" href="https://cinthiavota.com.ar"> &copy;  Opal Dev</a>
            </div> 
        </div>
    </div>
</footer>
