<!-- Services-->
<section class="page-section" id="services" id="especializacion">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Especialización</h2>
            <h3 class="section-subheading text-muted"><!-- Nuestro equipo interdiciplinario integrado por excelentes profesionales ofrece una amplia gama de servicios para resolver sus necesidades.  --><br>Nos destacamos por brindar una atención personalizada y soluciones efectivas para cada uno de nuestros clientes.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6">                
                <span class="fa-stack fa-4x">                    
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>                    
                    <a href="#abogacia-mediacion">
                        <i class="fas fa-balance-scale fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="my-3">Legales y Mediación</h4>
                <p class="text-muted">
                    <!-- En nuestro estudio contamos con un equipo de abogados especializados en diferentes áreas del derecho, tales como mediación, civil y comercial, laboral, penal, familia, entre otros. --> Brindamos asesoramiento legal, representación en juicios y mediaciones, redacción de contratos y documentos legales, entre otros servicios.
                </p>
            </div>
            <!-- <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <a href="#contaduria">
                        <i class="fas fa-calculator fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="my-3">Servicios Contables</h4>
                <p class="text-muted">Ofrecemos asesoramiento impositivo y tributario, liquidación de impuestos, confección de balances y estados contables, entre otros.</p>
            </div> -->
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <a href="#psicologia">
                        <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="my-3">Apoyo Psicológico</h4>
                <p class="text-muted">Contamos con el servicio de apoyo psicológico brindado por profesionales colaboradores en un ambiente seguro y acogedor para que usted pueda recibir el apoyo que necesita.<!--  Estamos aquí para ayudarle a superar cualquier desafío emocional que pueda estar enfrentando. --></p>
            </div>
        </div>
    </div>
</section>
