<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container" id="abogados">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Equipo Integral</h2>
            <h3 class="section-subheading text-muted">Nuestro equipo interdiciplinario integrado por excelentes
                profesionales ofrece una amplia gama de servicios para resolver sus necesidades.</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 mb-4" id="abogacia-mediacion">
                <!-- Portfolio item 1-->
                <div class="portfolio-item" >
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../../assets/img/mediacion2.avif" alt="..." />
                    </a>
                    <div class="portfolio-caption" >
                        <div class="portfolio-caption-heading">Abogacía & Mediación</div>
                        <!-- <div class="portfolio-caption-subheading text-muted">Diversas tareas</div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-6 mb-4"  id="contaduria">
               
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../../assets/img/contador.avif" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Contaduría</div>
                        <br>
                        
                    </div>
                </div>
            </div>   -->          
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0"  id="psicologia">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../../../assets/img/psicologa1.avif" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Psicología</div>
                        <br>
                        <!-- <div class="portfolio-caption-subheading text-muted">Diversas tareas</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Equipo de Abogados</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-fluid d-block mx-auto" src="../../../../assets/img/mediacion2.avif"
                                alt="..." />
                            <p>En nuestro estudio contamos con un equipo de abogados especializados en diferentes áreas
                                del derecho, tales como mediación, civil y comercial, laboral, penal, familia, entre
                                otros.</p>
                            <ul class="list-inline" *ngFor="let abogado of abogados">
                                <!--DESDE JSON-->
                                <li portfolio-item>
                                    <h5><strong>{{abogado.nombre}}</strong></h5>
                                        <p class="profesionales__p"><strong>{{abogado.profesion}}</strong></p>
                                        <p class="profesionales__p"><strong>{{abogado.matricula1}}</strong></p>
                                        <p class="profesionales__p"><strong>{{abogado.matricula2}}</strong></p>
                                        <p class="profesionales__p"><strong>{{abogado.matricula3}}</strong></p>
                                        <p>
                                            {{abogado.descripcion}}<br>{{abogado.especialidad}}<br>
                                        </p>
                                    <a
                                        href="mailto:{{abogado.mail}}?Subject=Email%20desde%20Estudio%20Web">{{abogado.mail}}</a><br>
                                    <a href="https://api.whatsapp.com//send?phone={{abogado.cel}}" target="_blank">
                                        <i class="fab fa-whatsapp"></i>
                                    </a>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../../../../assets/img/close-icon.svg"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Contaduría</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-fluid d-block mx-auto" src="../../../../assets/img/contador.avif"
                                alt="..." />
                            <p>Ofrecemos asesoramiento en cuestiones como impuestos, planificación financiera y
                                contabilidad empresarial, monotributistas y autónomos.</p>
                                <ul class="list-inline" *ngFor="let contador of contadores">
                                    <!--DESDE JSON-->
                                    <li portfolio-item>
                                        <h5><strong>{{contador.nombre}}</strong></h5>
                                            <p class="profesionales__p"><strong>{{contador.profesion}}</strong></p>
                                            <p class="profesionales__p"><strong>{{contador.matricula1}}</strong></p>
                                            <p class="profesionales__p"><strong>{{contador.matricula2}}</strong></p>
                                            <p class="profesionales__p"><strong>{{contador.matricula3}}</strong></p>
                                            <p>
                                                {{contador.descripcion}}<br>{{contador.especialidad}}<br>
                                            </p>
                                        <a
                                            href="mailto:{{contador.mail}}?Subject=Email%20desde%20Estudio%20Web">{{contador.mail}}</a><br>
                                        <a href="https://api.whatsapp.com//send?phone={{contador.cel}}" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../../../../assets/img/close-icon.svg"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Psicología</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-fluid d-block mx-auto" src="../../../../assets/img/psicologa1.avif"
                                alt="..." />
                            <p>Enfoque terapéutico integral y personalizado, adaptado a las necesidades únicas de cada
                                paciente.</p>
                                <ul class="list-inline" *ngFor="let psicologo of psicologos">
                                    <!--DESDE JSON-->
                                    <li portfolio-item>
                                        <h5><strong>{{psicologo.nombre}}</strong></h5>
                                            <p class="profesionales__p"><strong>{{psicologo.profesion}}</strong></p>
                                            <p class="profesionales__p"><strong>{{psicologo.matricula1}}</strong></p>
                                            <p class="profesionales__p"><strong>{{psicologo.matricula2}}</strong></p>
                                            <p class="profesionales__p"><strong>{{psicologo.matricula3}}</strong></p>
                                            <p>
                                                {{psicologo.descripcion}}<br>{{psicologo.especialidad}}<br>
                                            </p>
                                        <a
                                            href="mailto:{{psicologo.mail}}?Subject=Email%20desde%20Estudio%20Web">{{psicologo.mail}}</a><br>
                                        <a href="https://api.whatsapp.com//send?phone={{psicologo.cel}}" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>